/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.info-panel-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	border-radius: var(--mainRadius);
	border: 1px solid var(--clr-border-light);
	padding: 11px;
	&>* {
		margin-bottom: 12px !important;
		&:last-child {
			margin-bottom: 0 !important;;
		}
	}
}
.info-card-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.elm-photo {
		max-width: 280px;
		width: 100%;
		border-radius: var(--mainRadius);
	}
}
.summary-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.title-inner-wrap {
		margin-bottom: 8px;
	}
	.menu {
		display: flex;
		margin: 0 -6px;
		gap: 12px 0;
		font-size: 13px;
		font-weight: 500;
		justify-content: space-between;
		flex-wrap: wrap;
		li {
			padding: 0 6px;
			width: auto;
			white-space: nowrap;
			max-width: 100%;
			position: relative;
			overflow: hidden;
			flex-shrink: 0;
		}
	}
}
.tiles-tarif-box {
	margin-bottom: var(--sectionMargin);
	.items-wrap {
		margin: 0 -12px;
		gap: 24px 0;
	}
	.item-wrap {
		width: 50%;
		padding: 0 12px;
		margin: 0;
		&.wrap-full {
			width: 100%;
		}
	}
}
.panel-widget-box {
	margin-bottom: var(--sectionMarginMain);
	position: relative;
	border-radius: var(--mainRadius);
	overflow: hidden;
}
.panel-profile-box {
	margin-bottom: var(--sectionMarginMain);
	border-radius: var(--mainRadius);
	border: 1px solid var(--clr-border-light);
	padding: 23px 11px;
	display: flex;
	align-items: center;
	gap: 12px;
	.photo-inner-wrap {
		position: relative;
		width: 52px;
		flex-shrink: 0;
		&:has(.elm-ico) {
			width: 32px;
		}
		.elm-photo {
			border-radius: 50%;
		}
		.elm-ico {
			filter: var(--filterAttToBase);
			img, svg {
				width: 32px;
			}
		}
		&.elm-verify {
			&:before {
				width: 24px;height: 24px;
				background-size: 32px auto;
			}
			&.verify-no {
				&:before {
					display: none;
				}
			}
		}
	}
	.action-inner-wrap {
		flex-shrink: 0;
	}
	.info-inner-wrap {
		flex: 1;
	}
	.panel-title {
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 2px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.button-link {
		font-size: 14px;
		font-weight: 500;
		&:not(:hover) {
			color: var(--clr-light);
			.button-title {
				&:after {
					filter: var(--filterAttToLight);
				}
			}
		}
	}
}
.tabs-buttons-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.menu {
		display: flex;
		gap: 4px;
		flex-wrap: wrap;
		li {
			flex-shrink: 0;
		}
	}
	.btn {
		height: 40px;
		padding: 0 8px;
		min-width: 92px;
		border-radius: 12px;
		color: var(--clr-base);
		background-color: var(--clr-bg-light);
		border-color: var(--clr-bg-light);
		&:not(:hover, .active) {
			border-color: transparent;
			background-color: transparent;
		}
		&:hover {
			background-color: var(--clr-bg-light);
			border-color: var(--clr-bg-light);
			color: var(--clr-base);
		}
	}
}
.total-panel-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	overflow: hidden;
	.menu {
		display: flex;
		flex-wrap: wrap;
		gap: 17px;
		li {
			flex: 1;
			flex-shrink: 0;
			min-width: calc(25% - 18px);
			position: relative;
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 10px;
				bottom: 10px;
				width: 1px;
				background: var(--clr-border-light);
				left: 100%;
				margin-left: 8px;
			}
		}
	}
}
.tabs-panel-box {
	display: block;
	position: relative;
	line-height: 1;
	border-radius: var(--mainRadius);
	background: var(--clr-bg-light);
	margin-bottom: var(--sectionMargin);
	padding: 4px;
	.menu {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
		gap: 8px 0;
		li {
			padding: 0 8px;
			flex: 1;
		}
	}
	.btn-tab {
		display: flex;
		position: relative;
		align-items: center;
		white-space: nowrap;
		overflow: hidden;
		height: 36px;
		border-radius: var(--mainRadius);
		padding: 0 12px;
		border: none;
		transition: all ease 0.2s;
		font-size: 14px;
		font-weight: 600;
		color: var(--clr-light);
		text-align: center;
		justify-content: center;
		&:hover, &.active {
			color: var(--clr-base);
			background-color: #fff;
		}
	}
	.frm-select-button {
		label {
			color: var(--clr-light);
			background: transparent;
		}
		input {
			&:checked {
				&~label {
					background-color: #fff;
					color: var(--clr-base);
				}
			}
		}
	}
}
.form-box {
	margin-bottom: var(--sectionMargin);
}
.form-main-box {
	border-radius: 2.4rem;
	border: 1px solid var(--clr-border-light);
	padding: 2.3rem;
	.frm-action-wrap {
		margin-bottom: 12px;
		font-size: 14px;
		font-weight: 500;
		margin-right: 0;
		margin-left: -4px;
		padding-top: 8px;
		.btn {
			gap: 8px;
		}
	}
	.frm-title-wrap {
		margin-bottom: var(--sectionMarginMain);
		font-size: 14px;
		font-weight: 500;
		color: var(--clr-light);
		&:has(.frm-title-action) {
			display: flex;
			align-items: center;
			gap: 16px;
			justify-content: space-between;
			.frm-title {
				margin-bottom: 0;
			}
		}
	}
	.frm-row, .frm-row-submit {
		margin: 0 -8px;
	}
	.frm-row-auth {
		padding-top: 5px;
	}
	.frm-row-submit {
		padding-top: 16px;
		.field-select {
			margin-bottom: var(--sectionMarginMain);
			color: var(--clr-light);
		}
		.btn {
			width: 100%;
		}
		.button-light {
			&:not(:hover) {
				color: var(--clr-base);
			}
		}
		.frm-field {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.frm-field {
		padding: 0 8px;
		margin-bottom: 8px;;
	}
	.field-info {
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		color: var(--clr-light);
	}
	.frm-title-action {
		flex-shrink: 0;
		font-size: 14px;
		font-weight: 500;
		color: var(--clr-base);
		.btn {
			gap: 8px;
			.button-ico {
				width: 32px;height: 32px;
			}
		}
	}
	.frm-title {
		flex: 1;
		margin: 0 0 4px 0;
		color: var(--clr-base);
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.login-box {
	width: 480px;
	margin: 0 auto;
	flex-shrink: 0;
	max-width: 100%;
	.form-main-box {
		margin: 0;
	}
	.buttons-inner-wrap,
	.tabs-inner-wrap {
		margin: 16px 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.buttons-inner-wrap {
		.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px 2rem;
			li {
				flex-shrink: 0;
				max-width: 100%;
			}
		}
		.btn-action-app {
			width: 121px;
			max-width: 100%;
		}
	}
	.tabs-inner-wrap {
		margin-bottom: 24px;
		.menu {
			display: flex;
			justify-content: center;
			gap: 8px 2.4rem;
			li {
				max-width: 100%;
				flex-shrink: 0;
			}
		}
		.btn-menu {
			height: 40px;
			border-radius: var(--mainRadius);
			padding: 0 12px;
			font-size: 15px;
			font-weight: 600;
			color: var(--clr-light);
			transition: all ease 0.2s;
			display: inline-flex;
			align-items: center;
			white-space: nowrap;
			gap: 8px;
			.button-ico {
				width: 28px;height: 28px;
				flex-shrink: 0;
				filter: var(--filterAttToLight);
				transition: all ease 0.2s;
				img, svg {
					width: 100%;
				}
			}
			&:hover, &.active {
				color: var(--clr-base);
				background: var(--clr-bg-light);
				.button-ico {
					filter: var(--filterAttToBase);
				}
			}
		}
	}
	.form-inner-wrap {
		margin-bottom: 0;
	}
	.frm-title {
		font-size: 32px;;
	}
	.frm-field {
		margin-bottom: 12px;
	}
	.frm-row-auth {
		margin-top: 24px;
	}
}
.table-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.actions-inner-wrap {
		display: flex;
		flex-direction: column;
		gap: 8px;
		.btn {
			width: 100%;
		}
	}
	.empty-box {

	}
}
.page-steps-box {
	margin-bottom: var(--sectionMarginMain);
	font-size: 13px;
	font-weight: 500;
	color: var(--clr-light);
	line-height: 16px;
	.menu {
		display: flex;
		justify-content: space-between;
		margin: 0 -8px;
		gap: 24px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;left: 8px;right: 8px;
			height: 1px;
			margin-top: -1px;
			border-top: 1px solid var(--clr-border-light);
		}
		li {
			flex-shrink: 0;
			padding: 8px;;
			background: #fff;
			position: relative;
			z-index: 2;
		}
	}
	.li-title {
		display: block;
		position: relative;
		border-radius: 30px;
		transition: all ease 0.2s;
		text-align: center;
		padding: 6px;
		&.active {
			color: var(--clr-att);
			background: rgba(33, 105, 252, 0.10);
		}
	}
	a {
		&:not(:hover) {
			color: inherit;
		}
	}
}
.page-title-box {
	color: var(--clr-light);
	margin-bottom: var(--sectionMargin);
	font-weight: 500;
	display: flex;
	flex-wrap: wrap;
	gap: 0 3rem;
	.action-inner-wrap {
		font-size: 16px;
		font-weight: 500;
		padding: 12px 0 13px 0;;
		margin: 0 0 0 -4px;
		width: calc(100% + 4px);
		flex-shrink: 0;
		.btn.button-link {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: none;
			background: var(--clr-bg-light);
			padding: 0;
			justify-content: center;
			align-items: center;
			display: flex;
			.button-title {
				display: none;
			}
			.button-ico {
				filter: var(--filterAttToBase);
			}
			&:hover {
				.button-ico {
					filter: none;
				}
			}
		}
	}
	.title-inner-wrap {
		flex: 1;
		&+.title-inner-wrap, &~.title-action-wrap {
			flex: 0 0 auto;
			text-align: right;
			max-width: 50%;
		}
	}
	.title-action-wrap {
		.btn {
			gap: 4px;
		}
	}
	.section-title {
		color: var(--clr-base);
		margin: 0 0 0.1em 0;
	}
	.elm-ico {
		width: 54px;height: 54px;
		flex-shrink: 0;
		margin-right: -12px;
		img, svg {
			width: 100%;
		}
	}
}
.title-panel-box {
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 600;
	gap: 12px;
	.title-wrap {
		flex: 1;
	}
	.section-title {
		font-size: 15px;
		font-weight: bold;
		line-height: 18px;
	}
}
.title-box {
	margin-bottom: 15px;
	position: relative;
}
.buttons-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.menu {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px;
		li {
			padding: 0 4px;
			width: auto;
			flex: 1;
		}
	}
	.btn {
		height: auto;
		min-height: 100%;
		border-radius: var(--mainRadius);
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 12px 8px;
		line-height: 14px;
		width: 100%;
		gap: 4px;
		&.button-light {
			&:not(:hover) {
				color: var(--clr-att);
				.button-ico {
					filter: none;
				}
			}
		}
		.button-title {
			width: 100%;
		}
		.button-ico {
			margin: 0 auto;
			width: 28px;height: 28px;
			img, svg {
				width: 100%;
			}
		}
	}
}
.details-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	border-bottom: 1px solid var(--clr-border-light);
	border-top: 1px solid var(--clr-border-light);
	padding: 8px 0;
	&.no-border {
		border: none;
	}
	.elm-row {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		&.row-main {
			border-bottom: 1px solid var(--clr-border-light);
			padding-top: 4px;
			padding-bottom: 12px;
			margin-bottom: 12px;
		}
	}
	.section-title {
		margin-bottom: 12px;
	}
}
.links-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	font-size: 12px;
	font-weight: 500;
	.section-title {
		font-size: 15px;
		font-weight: bold;
		color: var(--clr-base);
		margin-bottom: 12px;
	}
	li {
		margin-bottom: 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		&:not(:hover) {
			color: var(--clr-light);
		}
	}
}
.notifications-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.items-wrap {
		margin: 0 -6px;
		gap: 12px 0;
	}
	.item-wrap {
		width: 100%;
		padding: 0 6px;
	}
}
.empty-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	color: var(--clr-light);
	.elm-ico {
		width: 48px;height: 48px;
		margin: 0 auto 8px auto;
		filter: var(--filterAttToLight) opacity(0.5);
		img, svg {
			width: 100%;
		}
	}
	.section-title {
		margin-bottom: 8px;
		color: var(--clr-base);
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.qr-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	&:last-child {
		margin-bottom: 0;
	}
	.elm-photo {
		width: 150px;
		margin: 0 auto;
	}
	.title-inner-wrap {
		margin-bottom: 12px;
		text-align: center;
	}
	.page-subtitle {

	}
	.elm-copy {
		display: inline-block;
	}
}
.panel-box, .menu-box {
	position: relative;
	margin-bottom: var(--sectionMarginMain);
	border-radius: var(--mainRadius);
	border: 1px solid var(--clr-border-light);
}
.panel-box {
	padding: 11px;
	&>*:last-child {
		margin-bottom: 0;
	}
}
.list-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.menu {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		&:has(.elm-contact) {
			gap: 23px;
		}
	}
}
.menu-box {
	.title-panel-box {
		padding: 12px 12px 0px 12px;
		margin-bottom: 0;
	}
	&:has(.type-notify) {
		border-radius: 16px;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&.bg-alert {
		border-color: var(--clr-alert);
		background: rgba(255, 51, 71, 0.10);
	}
	&.bg-att {
		border-color: var(--clr-att);
		background: rgba(33, 105, 252, 0.10);
	}
	&.bg-succefull {
		border-color: var(--clr-succefull);
		background: rgba(75, 179, 75, 0.10);;
	}
	&.bg-progress {
		border-color: var(--clr-progress);
		background: rgba(255, 160, 0, 0.10);
	}
	&.bg-base {
		border-color: #C4C8CC;
		background: #F9F9F9;
	}
	&.border-att {
		border-color: var(--clr-att);
	}
	&.max-400 {
		max-width: 400px;
	}
	.section-title {
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 5px;
		padding: 12px 12px 0 12px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.menu {
		li {
			&:last-child {
				.btn-menu {
					padding-bottom: 11px;
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.btn-menu {
		display: flex;
		align-items: center;
		font-size: 16px;
		min-height: 52px;
		line-height: 1.2;
		color: var(--clr-base);
		font-weight: 600;
		padding: 11px 12px 12px 12px;
		position: relative;
		gap: 12px;
		transition: all ease 0.2s;
		&:not(:has(>.button-ico)) {
			&:before {
				left: 12px !important;
			}
		}
		&:hover {
			background-color: #f9f9f9;
		}
		.btn {
			gap: 4px;
			.button-ico {
				width: 24px;height: 24px;
				margin: 0;
			}
		}
		&.text-alert {
			color: var(--clr-alert);
			.button-info {
				color: inherit;
			}
			.button-ico {
				filter: none;
			}
		}
		&.text-att {
			color: var(--clr-att);
			.button-info {
				color: inherit;
			}
			.button-ico {
				filter: none;
			}
		}
		&.text-succefull {
			color: var(--clr-succefull);
			.button-info {
				color: inherit;
			}
			.button-ico {
				filter: none;
			}
		}
		&.text-progress {
			color: var(--clr-progress);
			.button-info {
				color: inherit;
			}
			.button-ico {
				filter: none;
			}
		}
		&.text-base {
			color: var(--clr-base);
			.button-info {
				color: inherit;
			}
			.button-ico {
				filter: var(--filterAttToBase);
			}
		}
		&.type-arrow {
			padding-right: 40px;
			&:after {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/arrow-menu.svg) center no-repeat;
				background-size: 100% auto;
				transition: all ease 0.2s;
				filter: var(--filterAttToLight);
				top: 50%;right: 8px;
				margin-top: -12px;
				transform: rotate(90deg);
			}
			&:hover {
				&:after {
					filter: none;
				}
			}
		}
		&.type-check {
			padding-right: 40px;
			&:after {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/check.svg) center no-repeat;
				background-size: 100% auto;
				top: 50%;right: 10px;
				margin-top: -12px;
				opacity: 0;
			}
			&.active {
				&:after {
					opacity: 1;
				}
			}
		}
		&.type-title {
			font-size: 20px;
			font-weight: bold;
		}
		&.type-text {
			font-size: 15px;
			font-weight: 600;
			padding-top: 8px;
			padding-bottom: 8px;
		}
		&.type-currency {
			&:before {
				left: 64px;
			}
			.button-ico {
				width: 40px;
				aspect-ratio: 1;
				border-radius: 50%;
			}
		}
		&.type-icon, &.type-notify {
			&:before {
				left: 48px;
			}
			.button-ico {
				width: 28px;
				height: 28px;
				aspect-ratio: 1;
				border-radius: 0;
			}
		}
		&.type-icon-large {
			.button-ico {
				width: 48px;
				aspect-ratio: 1;
			}
		}
		&.type-card {
			&:before {
				left: 80px;
			}
			.button-ico {
				width: 56px;
				aspect-ratio: 49/31;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;left: 72px;right: 0;
			height: 1px;
			background: var(--clr-border-light);
		}
		.button-status {
			font-size: 13px;
			font-weight: 600;
			flex-shrink: 0;
		}
		.button-total {
			flex-shrink: 0;
			font-size: 15px;
			font-weight: bold;
			white-space: nowrap;
			&.total-zero {
				font-weight: 500;
				color: var(--clr-light);
				font-size: 14px;
			}
		}
		.button-action {
			flex-shrink: 0;
			.btn.button-link {
				padding: 0;
				font-size: 13px;
				font-weight: 600;
				color: inherit;
				.button-ico {
					width: 24px;height: 24px;
					border-radius: 0;
				}
				&:hover {
					color: inherit;
				}
			}
			&.text-alert, &.text-att {
				.btn.button-link {
					.button-ico {
						filter: none;
					}
				}
			}
		}
		.button-subtitle {
			display: block;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			color: var(--clr-light);
			padding-bottom: 4px;
		}
		.button-ico {
			aspect-ratio: 40/26;
			height: auto;
			border-radius: 4px;
			flex-shrink: 0;
			width: 48px;
			img, svg {
				width: 100%;
			}
		}
		.button-title {
			flex: 1;
		}
		.button-info {
			display: block;
			font-size: 13px;
			font-weight: 500;
			margin: 4px 0 8px 0;
			color: var(--clr-light);
			&:last-child {
				margin-bottom: 0;
			}
		}
		.elm-verify-text {
			margin-right: 17px;
		}
		.btn {
			min-width: 12rem;
			&.button-small {
				min-width: 0;
				padding: 0 15px;
				height: 36px;
				font-size: 13px;
			}
			&.button-link {
				min-width: 0;
				padding: 0;
				color: var(--clr-light);
				.button-ico {
					filter: var(--filterAttToLight);
				}
				&:hover {
					color: var(--clr-att);
					.button-ico {
						filter: none;
					}
				}
			}
		}
	}
}
.footer-box {
	margin-bottom: var(--sectionMarginMain);
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	color: var(--clr-light);
	.info-inner-wrap {
		margin-bottom: var(--sectionMarginMain);
	}
	.btn {
		width: 100%;
	}
}
.bg-full-wrap {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100dvw;
	min-width: var(--min);
	transform: translateX(-50%);
	overflow: hidden;
}
.bg-box {
	position: relative;
	z-index: 2;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100dvw;
		min-width: var(--min);
		transform: translateX(-50%);
		overflow: hidden;
		background: var(--clr-bg-light);
	}
	&>*:last-child {
		margin-bottom: 0;
	}
}
.tbl-inner-wrap {
	margin-bottom: 3.2rem;
	&:last-child {
		margin-bottom: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	table {
		min-width: 670px;
		margin: 0;
	}
}
.form-inner-wrap {
	margin-bottom: 12px;
	.frm-select-toggle {
		width: 100%;
		flex-shrink: 0;
	}
	.frm-section-wrap {
		position: relative;
		margin-bottom: 12px;
		.button-section-switch {
			position: absolute;
			top: 100%;left: 50%;
			margin: 0 0 0 -16px;
			width: 32px;height: 32px;
			border-radius: 50%;
			cursor: pointer;
			z-index: 5;
			&:before {
				filter: none;
			}
		}
		.frm-row {
			margin: 0 -24px;
			&:last-child {
				.frm-field {
					margin-bottom: 0;
				}
			}
			.frm-field {
				padding: 0 24px;
			}
		}
	}
	.details-box {
		margin: 4px 0;
		padding-left: 8px;
		padding-right: 8px;
	}
	.frm-row, .frm-field {
		
	}
	.frm-row {
		&:has(.field-auto) {
			align-items: flex-end;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	.frm-row-submit {
		padding-top: 5px;
		.frm-field {
			width: 100%;
		}
		.btn {
			width: 100%;
		}
	}
	.frm-field {
		&.field-auto {
			width: auto;
			display: block;
			.frm-field-input {
				min-width: 160px;
				width: auto;
			}
			.btn {
				height: 48px;
				padding: 0 15px;
			}
		}
	}
	.field-info-bottom {
		text-align: right;
		font-size: 12px;
		font-weight: 500;
		color: var(--clr-light);
		line-height: inherit;
		width: 100%;
		flex-shrink: 0;
		padding: 8px 0;
	}
	.field-info {
		font-size: 12px;
		font-weight: 500;
		line-height: normal;
		color: var(--clr-light);
	}
	.frm-select {
		width: 100%;
		flex-shrink: 0;
		padding: 8px 0;
		label {
			font-size: 13px;
			font-weight: 500;
		}
	}
}
@media (max-width: 1023px) {
	.page-steps-box {
		margin-left: -8px;
		margin-right: -8px;
		.menu {
			overflow-x: auto;
			overflow-y: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			margin-left: calc(var(--paddingContainer) * -1);
			margin-right: calc(var(--paddingContainer) * -1);
			padding-left: var(--paddingContainer);
			padding-right: var(--paddingContainer);
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
	}
	.tbl-inner-wrap {
		overflow-x: auto;
		overflow-y: hidden;
		/* margin-left: calc(var(--paddingContainer) * -1);
        margin-right: calc(var(--paddingContainer) * -1);
		padding-left: var(--paddingContainer);
		padding-right: var(--paddingContainer); */
		padding-bottom: 10px;
		&::-webkit-scrollbar {
			height: 4px;
			width: 4px;
			background-color: var(--clr-bg-light);
		}
		&::-webkit-scrollbar-thumb {
			background-color: var(--clr-att);
		}
		&::-webkit-scrollbar-thumb:hover {
			background-color: var(--clr-att);
		}
		&::-webkit-scrollbar-button:vertical:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:vertical:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:start:decrement {
			background-color: transparent;
			width: 0;
			height: 0;
		}
		&::-webkit-scrollbar-button:horizontal:end:increment {
			background-color: transparent;
			width: 0;
			height: 0;
		}
	}
}
@media (max-width: 767px) {
	
	.page-title-box {
		display: block;
		.title-inner-wrap {
			&+.title-inner-wrap {
				width: 100%;
				max-width: 100%;
				margin-top: 20px;
				text-align: left;
			}
		}
		.title-action-wrap {
			.btn {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.page-title-box .title-inner-wrap+.title-inner-wrap, .page-title-box .title-inner-wrap~.title-action-wrap {
		text-align: left;
	}
}
@media (max-width: 639px) {
	.panel-profile-box {
		flex-wrap: wrap;
		.info-inner-wrap {
			width: calc(100% - 52px - 12px);
			flex: 0 0 auto;
		}
		.action-inner-wrap {
			width: 100%;
		}
	}
	.total-panel-box {
		.menu {
			li {
				width: calc(50% - 8.5px);
				flex: 0 0 auto;
			}
		}
	}
	.tiles-tarif-box {
		.item-wrap {
			width: 100%;
		}
	}
	.form-inner-wrap {
		.frm-field {
			&.field-auto {
				width: 100%;
				.btn {
					width: 100%;
				}
			}
		}
	}
}
@media (max-width: 479px) {
	.menu-box {
		.btn-menu {
			flex-wrap: wrap;
			gap: 8px 12px;
			&>.button-title {
				flex: 0 0 auto;
				width: 100%;
			}
			&.type-icon {
				&>.button-title {
					width: calc(100% - 28px - 12px);
				}
			}
			&.type-currency {
				&>.button-title {
					width: calc(100% - 40px - 12px);
				}
			}
			&.type-card {
				&>.button-title {
					width: calc(100% - 56px - 12px);
				}
			}
		}
	}
	.form-inner-wrap {
		.field-half {
			width: 100%;
		}
		.frm-section-wrap {
			.frm-row {
				margin-bottom: 8px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.content-outer-wrap {
		display: flex;
		gap: 5.4rem;
		&.content-full {
			.content-wrap {
				max-width: 100%;
			}
		}
	}
	.side-wrap {
		width: 240px;
		flex-shrink: 0;
		order: 1;
	}
	.content-wrap {
		flex: 1;
		order: 2;
		width: calc(100% - 5.4rem - 240px);
		max-width: 691px;
	}
}
