/* ----------------------------------- *\
			structura
\* ----------------------------------- */
html {
	scroll-behavior: smooth;
}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: var(--min);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	max-width: 100%;
}
body {
    width: 100vw;
    overflow-x: hidden;
}
html {
	scrollbar-gutter: stable;
    //height: -webkit-fill-available;
}
html.with-fancybox body.hide-scrollbar {
	overflow: inherit !important;
	overflow-x: hidden !important;
	margin-right: 0 !important;
}
.cnt-full-wrap {
    margin-left: calc(var(--paddingContainer) * -1);
    margin-right: calc(var(--paddingContainer) * -1);
    padding-left: var(--paddingContainer);
    padding-right: var(--paddingContainer);
}
.inner-wrap, .page-full {
	position: relative;
	clear: both;
	margin: 0 auto;
    padding-left: var(--paddingContainer);
    padding-right: var(--paddingContainer);
	min-width: var(--min);
	max-width: var(--max);
	width: 100%;
	.inner-wrap {
		min-width: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.cnt-section {
		min-width: 0;
	}
}
.page-full {
	flex: 1 0 auto;
}
.wrap, .footer {
	// -webkit-transform: translate3d(0,0,0);
}
.wrap,
.header,
.nav,
.footer,
.footer-nologin,
.cnt-section {
	position: relative;
	clear: both;
	min-width: var(--min);
	width: 100%;
}
.wrap {
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	&>.cnt-section {
		flex-shrink: 0;
	}
}
.wrap-signin {
	.page-full {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
}
.nav,
.header,
.footer {
	flex-shrink: 0;
	line-height: 1;
	text-align: left;
	ul, li, p {
		margin: 0;
		padding: 0;
		&:before {
			display: none;
		}
	}
	a {
		text-decoration: none;
		position: relative;
		transition: all ease 0.2s;
	}
}
.header {
	border-bottom: 1px solid var(--clr-border-light);
	margin-bottom: 20px;
	background: #fff;
	z-index: 100;
	.inner-wrap {
		display: flex;
		align-items: center;
		padding-top: 14px;
		padding-bottom: 14px;
		justify-content: space-between;
		gap: 3.2rem;
	}
	.lang-inner-wrap {
		flex-shrink: 0;
	}
	.logo-inner-wrap {
		flex-shrink: 0;
	}
	.button-inner-wrap, .actions-inner-wrap {
		display: none;
		gap: 3.2rem;
	}
	.user-inner-wrap {
		flex-shrink: 0;
		position: relative;
		width: 32px;
		.active {
			&~.elm-overlay {
				display: block;
				z-index: 2;
			}
		}
	}
	.user-popup-block {
		display: none;
		animation: fadein ease 0.2s;
		position: absolute;
		top: 100%;right: var(--paddingContainer);
		background: #fff;
		z-index: 20;
		border-radius: var(--mainRadius);
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.20);
		padding: 12px;
		width: 276px;
		margin-right: calc(var(--paddingContainer) * -1);
		margin-top: 8px;
		.popup-button-wrap {
			margin: 12px 0 0 0;
			.btn {
				width: 100%;
				height: 56px;
				border-radius: var(--mainRadius);
				font-size: 17px;
				font-weight: 600;
				.button-title {
					&:after {
						filter: var(--filterAttToWhite);
					}
				}
			}
		}
		.popup-menu-wrap {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid var(--clr-border-light);
			li {
				margin-bottom: 6px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.btn-menu {
				display: flex;
				align-items: center;
				min-height: 56px;
				font-size: 17px;
				font-weight: 600;
				color: var(--clr-base);
				transition: all ease 0.2s;
				gap: 8px;
				padding: 8px 40px 8px 8px;
				&:before {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					position: absolute;
					background: url(../img/icons/arrow-menu.svg) center no-repeat;
					background-size: 32px auto;
					transform: rotate(90deg);
					filter: var(--filterAttToLight);
					top: 50%;right: 18px;
					margin: -12px -12px 0 0;
				}
				&:hover {
					color: var(--clr-att);
				}
				.button-ico {
					width: 28px;height: 28px;
					flex-shrink: 0;
				}
			}
			.li-exit {
				.btn-menu {
					color: var(--clr-alert);
					&:hover {
						color: var(--clr-alert);
					}
				}
			}
		}
		.popup-title-wrap {
			display: flex;
			align-items: center;
			gap: 8px;
			color: var(--clr-base);
			padding-right: 40px;
			&:before {
				content: "";
				display: block;
				width: 24px;
				height: 24px;
				position: absolute;
				background: url(../img/icons/arrow-menu.svg) center no-repeat;
				top: 50%;right: 8px;
				margin-top: -12px;
				transform: rotate(90deg);
				filter: var(--filterAttToLight);
				background-size: 32px auto;
			}
			&:hover {
				color: var(--clr-base);
			}
			.user-photo {
				aspect-ratio: 1;
				border-radius: 50%;
				flex-shrink: 0;
				width: 48px;
			}
			.user-title {
				display: block;
				font-size: 17px;
				font-weight: 600;
				line-height: normal;
			}
			.user-veryfy {
				display: flex;
				align-items: center;
				font-size: 15px;
				font-weight: 500;
				gap: 2px;
			}
			.elm-verify {
				position: relative;
				width: 24px;height: 24px;
				flex-shrink: 0;
				&:before {
					width: 24px;height: 24px;
					top: 50%;left: 50%;
					bottom: auto;
					right: auto;
					margin: -12px 0 0 -12px;
				}
			}
			.verify-title {
				color: var(--clr-succefull);
			}
			.verify-no~.verify-title {
				color: var(--clr-alert);
			}
		}
	}
	.btn-user {
		aspect-ratio: 1;
		border-radius: 50%;
	}
	.btn {
		height: 34px;
		padding: 0 10px;
	}
	.button-link {
		padding: 0;
		font-size: 15px;
		font-weight: 500;
		.button-ico {
			width: 28px;height: 28px;
			img, svg {
				width: 100%;
			}
		}
	}
	.elm-verify {
		&:before {
			bottom: -2px;right: -2px;
		}
	}
	.frm-field-select {
		.select-content-block {
			left: auto;
			right: 0;
		}
		.btn-select {
			text-transform: uppercase;
		}
	}
}
.nav {
	display: block;
	position: relative;
	margin-bottom: 5rem;
	font-size: 15px;
	line-height: 18px;
	font-weight: 600;
	color: var(--clr-light);
	min-width: 0;
	.menu-title-wrap {
		display: none;
	}
	.menu {
		li {
			margin-bottom: 4px;
		}
		.menu {
			position: relative;
			height: 0;
			overflow: hidden;
			interpolate-size: allow-keywords;
			transition: all ease 0.2s;
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.active+.menu {
		height: auto;
		padding-top: 10px;
		padding-bottom: 3px;
	}
	.btn-menu {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 8px 12px;
		color: inherit;
		transition: all ease 0.2s;
		border-radius: var(--mainRadius);
		&:has(+.menu) {
			padding-right: 40px;
			&:before {
				display: block;
			}
		}
		&:before, .button-menu-toggle {
			content: "";
			display: none;
			width: 24px;
			height: 24px;
			position: absolute;
			background: url(../img/icons/arrow-menu.svg) center no-repeat;
			background-size: 100% auto;
			filter: var(--filterAttToLight);
			transition: all ease 0.2s;
			transform: rotate(180deg);
			top: 50%;right: 20px;
			margin: -12px -12px 0 0;
		}
		.button-ico {
			transition: all ease 0.2s;
			filter: var(--filterAttToLight);
			flex-shrink: 0;
			width: 28px;height: 28px;
		}
		.button-title {
			display: block;
			&:first-child {
				padding-left: 44px;
			}
		}
		&:hover, &.menu-active {
			color: var(--clr-base);
			.button-ico, &:before, .button-menu-toggle {
				filter: var(--filterAttToBase);
			}
		}
		&.active {
			&:before, .button-menu-toggle {
				transform: rotate(0deg);
			}
		}
		&.menu-active {
			background-color: var(--clr-bg-light);
		}
	}
	.btn-popup {
		display: none;
		width: 28px;height: 28px;
		flex-shrink: 0;
	}
}
.footer {
	background: var(--clr-bg-light);
	padding: 32px 0 64px 0;
	min-height: 310px;
	.inner-wrap {
		display: flex;
		gap: 4rem;
	}
	.info-inner-wrap {
		width: 25rem;
		flex-shrink: 0;
	}
	.menu-inner-wrap {
		flex: 1;
		display: flex;
		justify-content: space-between;
		gap: 4rem;
	}
	.menu-wrap {
		width: calc(33.33% - 2.66rem);
		flex-shrink: 0;
		max-width: 248px;
		.menu-title {
			font-size: 15px;
			font-weight: bold;
			line-height: 20px;
			margin-bottom: 5px;
			a {
				&:not(:hover) {
					color: inherit;
				}
			}
		}
		.menu {
			font-size: 12px;
			line-height: 16px;
			color: var(--clr-light);
			a {
				display: block;
				color: inherit;
				padding: 5px 0 6px 0;
				&:hover {
					color: var(--clr-att);
				}
			}
		}
	}
	.frm-field-select {
		.popup-content-block {
			max-height: 240px;
		}
	}
}
.footer-nologin {
	background: #F2F3F5;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	font-weight: 500;
	color: var(--clr-light);
	padding: 12px 0;
	.menu {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px 16px;
		li {
			flex-shrink: 0;
			min-width: 90px;
		}
	}
	a {
		display: block;
		&:not(:hover) {
			color: inherit;
		}
	}
}
.logo {
    position: relative;
    overflow: hidden;
    line-height: 1;
    text-decoration: none;
    width: auto;
    letter-spacing: normal;
    font-weight: 400;
	font-size: 24.5px;
	font-weight: bold;
	color: var(--clr-base);
	display: inline-flex;
	align-items: center;
	gap: 7px;
    &:hover {
        text-decoration: none;
		color: var(--clr-base);
    }
	.logo-title {
		letter-spacing: 0.245px;
	}
	.logo-image {
		flex-shrink: 0;
		display: block;
		width: 36px;
	}
    img {
        display: block;
        width: 100%;
    }
}
.mobile-panel-box {
	position: fixed;
	bottom: 0;left: 0;right: 0;
	box-shadow: -2px -2px 20px 0 rgba(0, 0, 0, 0.20);
	background: #fff;
	z-index: 98;
	.actions-inner-wrap {
		display: flex;
		gap: 4px;
		justify-content: center;
		padding-left: var(--paddingContainer);
		padding-right: var(--paddingContainer);
		min-width: var(--min);
	}
	.action-wrap {
		flex: 1;
	}
	.btn-action {
		display: block;
		position: relative;
		text-align: center;
		overflow: hidden;
		width: 100%;
		font-size: 11px;
		font-weight: 600;
		color: var(--clr-light);
		line-height: 14px;
		padding: 8px 0;
		height: 67px;
		&:hover, &.active {
			color: var(--clr-att);
			.button-ico {
				filter: none;
			}
		}
		.button-ico {
			width: 28px;height: 28px;
			margin: 0 auto;
			filter: var(--filterAttToLight);
			transition: all ease 0.2s;
			img, svg {
				width: 100%;
			}
		}
		.button-title {
			margin-top: 2px;
			display: block;
		}
	}
}
@media (max-width: 1023px) {
    .section-mobile-full {
        margin-left: calc(var(--paddingContainer) * -1);
        margin-right: calc(var(--paddingContainer) * -1);
    }
	.wrap {
		padding-top: 76px;
		padding-bottom: 67px;
	}
	.header {
		position: fixed;
		z-index: 99;
		top: 0;left: 0;right: 0;
		margin: 0;
		.inner-wrap {
			height: 63px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.menu-show {
		overflow: hidden;
		.nav {
			display: flex;
		}
	}
	.nav {
		display: none;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.30);
		z-index: 100;
		margin: 0;
		animation: fadein ease 0.2s;
		flex-direction: column;
		justify-content: flex-end;
		.inner-wrap {
			padding: 40px var(--paddingContainer);
			border-radius: 24px 24px 0 0;
			background: #fff;
			z-index: 20;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			max-height: 90%;
		}
		.menu-title-wrap {
			display: block;
			width: 100%;
			flex-shrink: 0;
			padding: 0 50px 0 16px;;
			margin-bottom: 15px;
			position: relative;
		}
		.menu-inner-wrap {
			flex: 1;
			overflow-y: auto;
			overflow-x: hidden;
			scrollbar-width: none;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}	
		}
		.menu-title {
			font-size: 32px;
			line-height: 40px;
			font-weight: bold;
			color: var(--clr-base);
		}
		.btn-nav-close {
			width: 36px;height: 36px;
			position: absolute;
			top: 50%;right: 16px;
			margin-top: -18px;
			z-index: 2;
			filter: var(--filterAttToLight);
			&:before {
				background-size: 36px auto;
			}
		}
		.btn-menu {
			font-size: 19px;
			border-radius: 0;
			padding: 8px;
			min-height: 56px;
			.button-ico {
				width: 32px;height: 32px;
				img, svg {
					width: 100%;
				}
			}
			.button-title {
				&:first-child {
					padding-left: 44px;
				}
			}
			&:before, .button-menu-toggle {
				background-size: 32px auto;
			}
			&.menu-active {
				background: none;
				color: var(--clr-base);
				.button-ico {
					filter: var(--filterAttToBase);
				}
			}
		}
		.active {
			&~.menu {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
		.menu {
			.menu {
				padding-bottom: 10px;
				padding-top: 10px;
				li {
					margin-bottom: 8px;
				}
				.btn-menu {
					min-height: 56px;
				}
			}
			li {
				margin-bottom: 0;
			}
		}
	}
	.footer {
		.info-inner-wrap {
			width: 20rem;
		}
	}
	
}
@media (max-width: 767px) {
	.footer {
		.inner-wrap {
			display: block;
		}
		.info-inner-wrap {
			margin-bottom: 30px;
			margin-left: -4px;
			margin-right: 0;
			width: 100%;
		}
	}
}
@media (max-width: 639px) {
	.footer {
		.frm-field-select {
			.btn-select {
				font-size: 16px;
			}
		}
		.menu-inner-wrap {
			display: block;
			.menu-wrap {
				width: 100%;
				margin-bottom: 30px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.menu {
				font-size: 16px;
			}
			.menu-title {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 1024px) {
	.header {
		.button-inner-wrap, .actions-inner-wrap {
			display: flex;
		}
		.logo-inner-wrap {
			flex: 1;
		}
		.user-inner-wrap {
			width: 28px;
			margin-right: 0;
			.active~.elm-overlay {
				display: none;
			}
		}
		.user-popup-block {
			width: 260px;
			.popup-menu-wrap {
				padding-top: 10px;
				.btn-menu {
					font-size: 15px;
					min-height: 44px;
					.button-ico {
						width: 28px;height: 28px;
					}
				}
				.menu {
					li {
						margin-bottom: 0;
					}
				}
			}
			.popup-title-wrap {
				gap: 8px;
				.user-photo {
					width: 32px;height: 32px;
				}
				.user-title {
					font-size: 15px;
					margin-bottom: 3px;
				}
				.user-veryfy {
					font-size: 14px;
					.elm-verify {
						overflow: hidden;
						width: 14px;height: 14px;
						background: none;
						&:before {
							background-size: 14px auto;
						}
					}
				}
			}
			.popup-button-wrap {
				.btn {
					height: 40px;
					border-radius: 12px;
					font-size: 14px;
					font-weight: 600;
				}
			}
			
		}
	}
	.mobile-panel-box {
		display: none;
	}
}
@media (min-width: 1360px) {
	
}