
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-title">Credits</div>
			</a>
		</div>
		<div class="button-inner-wrap">
			<a href="" class="btn">
				<div class="button-ico">
					<img src="./img/icons/download.svg" alt="">
				</div>
				<div class="button-title">Deposit</div>
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap">
				<a href="" class="btn button-link">
					<div class="button-ico">
						<img src="./img/icons/notify.svg" alt="">
					</div>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-link">
					<div class="button-ico">
						<img src="./img/icons/messages.svg" alt="">
					</div>
					<div class="button-title">Support</div>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-link">
					<div class="button-ico">
						<img src="./img/icons/star.svg" alt="">
					</div>
					<div class="button-title">Premium</div>
				</a>
			</div>
		</div>
		<div class="user-inner-wrap elm-verify verify-no js-popup-wrap">
			<a href="" class="elm-photo photo-cover btn-user js-btn-popup-toggle">
				<img src="./img/user.jpg" alt="">
			</a>
			<div class="user-popup-block js-popup-block">
				<a href="" class="popup-title-wrap">
					<div class="elm-photo photo-cover user-photo">
						<img src="./img/user.jpg" alt="">
					</div>
					<div class="user-title-wrap">
						<div class="user-title">Name Surname</div>
						<div class="user-veryfy">
							<div class="elm-verify verify-no"></div>
							<div class="verify-title">Not verified</div>
						</div>
					</div>
				</a>
				<div class="popup-button-wrap">
					<a href="" class="btn">
						<div class="button-title">Verify</div>
						<div class="button-ico">
							<img src="./img/icons/arrow-button.svg" alt="">
						</div>
					</a>
				</div>
				<div class="popup-menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/settings.svg" alt="">
								</div>
								<div class="button-title">Settings</div>
							</a>
						</li>
						<li class="li-exit">
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/logout.svg" alt="">
								</div>
								<div class="button-title">Log out</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="elm-overlay"></div>
		</div>
	</div>
</header>
<!-- /header -->


<!--mobile-panel-box-->
<div class="mobile-panel-box">
	<div class="actions-inner-wrap">
		<div class="action-wrap">
			<a href="" class="btn-action active">
				<div class="button-ico">
					<img src="./img/icons/wallet.svg" alt="">
				</div>
				<div class="button-title">Wallet</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/payments.svg" alt="">
				</div>
				<div class="button-title">Payments</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/crypto.svg" alt="">
				</div>
				<div class="button-title">Crypto</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/history.svg" alt="">
				</div>
				<div class="button-title">History</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action js-menu-toggle">
				<div class="button-ico">
					<img src="./img/icons/menu.svg" alt="">
				</div>
				<div class="button-title">Menu</div>
			</a>
		</div>
	</div>
</div>
<!--/mobile-panel-box-->