
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-title">Credits</div>
			</a>
		</div>
		<div class="lang-inner-wrap">
			<div class="frm-field-select js-popup-wrap">
				<a href="" class="btn-select btn button-link js-btn-popup-toggle">
					<div class="button-title">En</div>
				</a>
				<div class="select-content-block js-popup-block">
					<ul class="menu">
						<li>
							<a href="" class="btn-menu active">
								<div class="button-ico">
									<img src="./img/icons/flag-britain.svg" alt="">
								</div>
								<div class="button-title">English</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/flag-ukraine.svg" alt="">
								</div>
								<div class="button-title">Українська</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/flag-russian.svg" alt="">
								</div>
								<div class="button-title">Russian</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/flag-turkey.svg" alt="">
								</div>
								<div class="button-title">Türkçe</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/flag-spanish.svg" alt="">
								</div>
								<div class="button-title">Español</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-ico">
									<img src="./img/icons/flag-german.svg" alt="">
								</div>
								<div class="button-title">Deutsch</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->


<!--mobile-panel-box-->
<div class="mobile-panel-box">
	<div class="actions-inner-wrap">
		<div class="action-wrap">
			<a href="" class="btn-action active">
				<div class="button-ico">
					<img src="./img/icons/wallet.svg" alt="">
				</div>
				<div class="button-title">Wallet</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/payments.svg" alt="">
				</div>
				<div class="button-title">Payments</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/crypto.svg" alt="">
				</div>
				<div class="button-title">Crypto</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action">
				<div class="button-ico">
					<img src="./img/icons/history.svg" alt="">
				</div>
				<div class="button-title">History</div>
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action js-menu-toggle">
				<div class="button-ico">
					<img src="./img/icons/menu.svg" alt="">
				</div>
				<div class="button-title">Menu</div>
			</a>
		</div>
	</div>
</div>
<!--/mobile-panel-box-->