
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<div class="logo-image">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-title">Credits</div>
			</a>
		</div>
		<div class="button-inner-wrap">
			<a href="" class="btn">
				<div class="button-ico">
					<img src="./img/icons/download.svg" alt="">
				</div>
				<div class="button-title">Deposit</div>
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="action-wrap">
				<a href="" class="btn button-link">
					<div class="button-ico">
						<img src="./img/icons/notify.svg" alt="">
					</div>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-link">
					<div class="button-ico">
						<img src="./img/icons/messages.svg" alt="">
					</div>
					<div class="button-title">Support</div>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn button-link">
					<div class="button-ico">
						<img src="./img/icons/star.svg" alt="">
					</div>
					<div class="button-title">Premium</div>
				</a>
			</div>
		</div>
		<div class="user-inner-wrap elm-verify">
			<a href="" class="elm-photo photo-cover btn-user">
				<img src="./img/user.jpg" alt="">
			</a>
		</div>
	</div>
</header>
<!-- /header -->
