<!--nav-->
<nav class="nav">
	<div class="inner-wrap">
		<div class="menu-title-wrap">
			<a href="" class="btn-nav-close btn-action-ico ico-close js-menu-toggle"></a>
			<div class="menu-title">Menu</div>
		</div>
		<div class="menu-inner-wrap">
			<ul class="menu">
				<li>
					<!-- <a href="" class="btn-menu menu-active js-btn-tgl"> -->
					<a href="" class="btn-menu menu-active js-btn-tgl">
						<div class="button-ico">
							<img src="./img/icons/wallet.svg" alt="">
						</div>
						<div class="button-title">Wallet</div>
					</a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Accounts</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Cards</div>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu js-btn-tgl">
						<div class="button-ico">
							<img src="./img/icons/payments.svg" alt="">
						</div>
						<div class="button-title">Payments</div>
					</a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Top up</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Transfer</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Withdraw</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Exchange</div>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu js-btn-tgl active">
						<div class="button-ico">
							<img src="./img/icons/crypto.svg" alt="">
						</div>
						<div class="button-title">Crypto</div>
					</a>
					<ul class="menu">
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Assets</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Transfer</div>
							</a>
						</li>
						<li>
							<a href="" class="btn-menu">
								<div class="button-title">Interest</div>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="" class="btn-menu">
						<div class="button-ico">
							<img src="./img/icons/history.svg" alt="">
						</div>
						<div class="button-title">History</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!--/nav-->