
<div class="frm-field-phone">
	<div class="frm-field-prefix">
		<div class="frm-field-select js-popup-wrap js-popup-select">
			<a href="" class="btn-select btn button-link js-btn-popup-toggle">
				<div class="button-ico">
					<img src="./img/icons/flag-britain.svg" alt="">
				</div>
				<div class="button-title">+44</div>
			</a>
			<div class="select-content-block js-popup-block">
				<ul class="menu">
					<li>
						<a href="" class="btn-menu active">
							<div class="button-ico">
								<img src="./img/icons/flag-britain.svg" alt="">
							</div>
							<div class="button-title">English</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-ico">
								<img src="./img/icons/flag-ukraine.svg" alt="">
							</div>
							<div class="button-title">Українська</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-ico">
								<img src="./img/icons/flag-russian.svg" alt="">
							</div>
							<div class="button-title">Russian</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-ico">
								<img src="./img/icons/flag-turkey.svg" alt="">
							</div>
							<div class="button-title">Türkçe</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-ico">
								<img src="./img/icons/flag-spanish.svg" alt="">
							</div>
							<div class="button-title">Español</div>
						</a>
					</li>
					<li>
						<a href="" class="btn-menu">
							<div class="button-ico">
								<img src="./img/icons/flag-german.svg" alt="">
							</div>
							<div class="button-title">Deutsch</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="frm-field-input">
		<input type="tel" class="form-input" placeholder="Enter phone number">
	</div>
</div>